{% extends 'base.html.twig' %}


{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    <div class="row mx-0">
        <div class="col-sm-12 col-md-6">
            <a href="{{ path('to-do_list') }}" class="btn btn-info my-2 d-block">Consulter la liste des tâches à faire</a>
        </div>
        <div class="col-sm-12 col-md-6">
           <a href="{{ path('task_completed') }}" class="btn btn-info my-2 d-block">Consulter la liste des tâches terminées</a>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <h3 class= "text-center mt-4">Administrateur</h3>
    <div class="row mx-0">
        <div class="col-sm-12 col-md-12">
            <a href="{{ path('user_create') }}" class="btn btn-success my-2 d-block">Créer un utilisateur</a>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-12 col-md-6">
            <a href="{{ path('users_list') }}" class="btn btn-primary my-2 mx-2 d-block mx-auto pr-2">Gestion des utilisateurs</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <a href="{{ path('tasksUsersAnonymous') }}" class="btn btn-primary my-2 mx-2 d-block mx-auto pl-2">Gestion des tâches</a>
        </div>        
    </div>
    {% endif %}

{% endblock %}