{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h2 class="text-center">Liste des tâches associées à un utilisateur anonyme</h2>{% endblock %}

{% block body %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom de la tâche</th>
                    <th class="column-content-task">Contenue de la tâche</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ task.title }}</td>
                        <td class="column-content-task">{{ task.content }}</td>
                        <td>
                            <a href="{{ path('task_anonymous_delete', {'id' : task.id}) }}" class="btn btn-danger btn-sm btn_delete">
                                <img src="{{ asset('img/icons/trash-solid.png') }}" alt="trash_{{task.id}}" height="30px" title="Supprimer la tâche"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}