{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        {% if app.user %}    
            <div class="col-sm-12 col-md-6">
                <a href="{{ path('task_create') }}" class="btn btn-success d-block mb-3">Créer une tâche</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a href="{{ path('to-do_list') }}" class="btn btn-info d-block mb-3">Consulter la liste des tâches à faire</a>  
            </div>
        {% else %}
            <div class="col-sm-12 col-md-12">
                <a href="{{ path('to-do_list') }}" class="btn btn-info d-block mb-3">Consulter la liste des tâches à faire</a>  
            </div>
        {% endif %} 
    </div>

    <h2 class="text-center mb-3">Liste des tâches effectuées</h2>
    <div class="row px-0 mx-0">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="d-flex justify-content-end">
                                <div class="state-validation-task mb-4">
                                    {% if task.isDone %}
                                    <img src="{{ asset('img/icons/check-solid-black.png') }}" alt="trash" width="20px" height="20px"/>
                                    {% else %}
                                    <img src="{{ asset('img/icons/xmark-solid-black.png') }}" alt="trash" width="20px" height="20px"/>
                                    {% endif %}
                                </div>
                            </div>
                            <h4 class="card-title">{{ task.title }}</h4>
                            <p class="card-text content-scrollable">{{ task.content }}</p>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end flex-wrap mt-3">
                                {% if app.user %}
                                <a href="{{ path('task_delete', {'id' : task.id }) }}" class="btn btn-danger btn-sm" >delete</a>
                                {# <a href="{{ path('task_delete', {'id' : task.id }) }}" class="btn btn-danger btn-sm" >
                                    <img src="{{ asset('img/icons/trash-solid.png') }}" alt="trash" height="30px" title="Supprimer la tâche"/>
                                </a> #}

                                <a href="{{path('task_edit', {'id' : task.id })}}" class="btn btn-primary ms-2">pen-solid</a>
                                {# <a href="{{path('task_edit', {'id' : task.id })}}" class="btn btn-primary ms-2">
                                    <img src="{{ asset('img/icons/pen-solid.png') }}" alt="edit" height="26px" title="Modifier la tâche"/>
                                </a> #}
                                <a href="{{path('task_toggle', {'id' : task.id })}}" class="btn btn-warning btn-sm ms-2">xmark-solid</a>
                                {# <a href="{{path('task_toggle', {'id' : task.id })}}" class="btn btn-warning btn-sm ms-2">
                                    <img src="{{ asset('img/icons/xmark-solid.png') }}" alt="trash" height="30px" title="Rendre la tâche comme non effectuée"/>
                                </a> #}
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
